{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5HourProject</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- The Navbar is being loaded to the base page -->
    {% include 'nav_bar.html'%}
    {% block content %}


    {% endblock %}

    <!-- The sidebar is being loaded to the base page -->
    {% block sidebar %}

    {% endblock %}
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>