{% extends 'base.html' %}
{% block sidebar %}
{% for items in original %}
<div class="image" style="background-image: url({{items.main_img.url}}); height: 200px; "><h3 style="z-index: 1; position: absolute; top: 180px; left: 500px; font-size: 50px; color: azure;">{{items.Title}}</h3></div>
<div class="card sidebar" id="sidebar"> 
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url '' %}">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Travel' %}">Travel Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="{% url 'Things' %}">Things To Do</a>
        </li>
      </ul>
    <hr>
    <div class="card-body">
        <!-- The Paragraoh will be constantly changing -->
        <p id="Change">{{items.Things_to_do_desc}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}